*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom global css classes */

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.img-overflow {
  overflow-y: hidden;
}