.Panel {
  position: absolute;
  background-color: #DBE2EF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  top: 5%;
  right: 5%;
  width: 20%;
  height: 90%;
  z-index: 20;
  padding: 0 2.5%;
  overflow-y: scroll;
  text-align: left;
}