.RestaurantForm__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.RestaurantForm__img--small {
  width: 10px;
  height: auto;
}

.RestaurantForm__text-link {
  cursor: pointer;
  color: #6c757d;
}

.RestaurantForm__text-link:hover {
  color: black;
}
