.Navbar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  background-color: #112D4E;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.Navbar__brand {
  color: white;
  line-height: 45px;
  font-size: 1.5rem;
  padding-left: 1rem;
  width: 200px;
}